@using Forum.Business.Helpers
@{
    ViewData["Title"] = "CreateDefault";
}

<div class="row" style="margin-top: 13%">
	<div class="col s12 m4">

	</div>
	<div class="col s12 m4">
		<div class="card darken-4 teal">
			@using (Html.BeginForm("CreateDefault", "Home", null, FormMethod.Post, true, null))
			{
				<div class="card-action">
					<span class="card-title white-text">
						Enter a phone number (Format example: +4123456789)
					</span>
				</div>
				<div class="card-content">
					<div class="input-field">
						<input placeholder="Enter a phone number..." id="phone" name="phone" type="text" class="validate white-text" pattern="@Patterns.PhonePattern" required="required">
						<label for="phone">Phone number</label>
						<span class="helper-text" data-error="Please enter the token!" data-success=""></span>
					</div>
				</div>
				<div class="card-action">
					<input type="submit" class="btn btn-flat text-darken-3 yellow-text" value="Create" />
				</div>
				Html.EndForm();
			}
		</div>
	</div>
	<div class="col s12 m4">

	</div>
</div>