@model List<Forum.Models.Post>
@{
    ViewData["Title"] = "Home";
}

@{
	if (Model != null && Model.Count > 0)
	{
		foreach (var post in Model)
		{
			<div class="row">
				<div class="col s12">
					<div class="container">
						<a href="@Url.Action("Read", "Post", new {id = post.Id.ToString()})">
							<div class="card hoverable darken-4 teal white-text" style="cursor: pointer">
								<div class="card-action">
									<h4 class="card-title" style="font-weight: bold;">@post.Title</h4>
									<p class="blue-grey-text">By @post.User.Username</p>
									<p class="blue-grey-text">Created on: @post.CreatedOn.ToString("g") UTC</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="row">
			<div class="col s12">
				<div class="container">
					<h2>There are currently no posts.</h2>
				</div>
			</div>
		</div>
	}
}